:root {
  --color-surface: hsl(0, 0%, 97%);
  --color-text: hsl(0, 0%, 15%);
  --color-primary:hsl(332, 80%, 52%);
  --color-primary-outline:hsl(332, 80%, 52%, 40%);
}

*,
*::before,
*::after {
  box-sizing: border-box;

  margin: 0;
  padding: 0;
}

html {
  font-family: "Kanit", system-ui;
}

input,
label,
select,
textarea,
button,
fieldset,
legend,
datalist,
output,
option,
optgroup {
  font: inherit;
}

body{
  inline-size: min(45rem, 100% - 2rem);
  
  margin-inline: auto;
}